<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndOfLevel</key>
	<integer>7500</integer>
	<key>Flowers</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Circle</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>CircleSpecial</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineLeft</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>10</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineRight</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>10</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Diamond</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>25</integer>
					<key>y</key>
					<integer>50</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-25</integer>
					<key>y</key>
					<integer>50</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>100</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
        <!--   FLOWER ARRANGEMENT     -->
		<key>Positions</key>
		<array>
			<dict>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>150</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>250</integer>
				<key>pattern</key>
				<string>CircleSpecial</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>350</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>600</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>700</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>800</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>700</integer>
				<key>pattern</key>
				<string>CircleSpecial</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>900</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>pattern</key>
				<string>CircleSpecial</string>
			</dict>
			<dict>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>1100</integer>
				<key>pattern</key>
				<string>Circle</string>
			</dict>
            <dict>
                <key>x</key>
                <integer>210</integer>
                <key>y</key>
                <integer>1350</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>105</integer>
                <key>y</key>
                <integer>1400</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>270</integer>
                <key>y</key>
                <integer>1500</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>50</integer>
                <key>y</key>
                <integer>1600</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>1650</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>1700</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>165</integer>
                <key>y</key>
                <integer>1950</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>227</integer>
                <key>y</key>
                <integer>2050</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>104</integer>
                <key>y</key>
                <integer>2150</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>2300</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>2450</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>2600</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>2750</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>3000</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>3100</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>3200</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>3300</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>3400</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>3500</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>3600</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>3700</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>3800</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>3900</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>4700</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>4800</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>4900</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>5000</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>5100</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>195</integer>
                <key>y</key>
                <integer>5200</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>135</integer>
                <key>y</key>
                <integer>5300</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>5400</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>5500</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>5600</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>5700</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>5700</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>5800</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>5800</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>135</integer>
                <key>y</key>
                <integer>5900</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>195</integer>
                <key>y</key>
                <integer>5900</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>135</integer>
                <key>y</key>
                <integer>6000</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>195</integer>
                <key>y</key>
                <integer>6000</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>135</integer>
                <key>y</key>
                <integer>6100</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>195</integer>
                <key>y</key>
                <integer>6100</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>6200</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>6200</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>6300</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>6300</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>6450</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>6450</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>6600</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>6600</integer>
                <key>pattern</key>
                <string>CircleSpecial</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>165</integer>
                <key>y</key>
                <integer>6600</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>247</integer>
                <key>y</key>
                <integer>6750</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>6900</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>7150</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>21</integer>
                <key>y</key>
                <integer>7300</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            <dict>
                <key>x</key>
                <integer>300</integer>
                <key>y</key>
                <integer>7450</integer>
                <key>pattern</key>
                <string>Circle</string>
            </dict>
            
            
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>10</integer>
					<key>type</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>y</key>
					<integer>10</integer>
					<key>x</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>y</key>
					<integer>0</integer>
					<key>x</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>x</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>type</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>450</integer>
				<key>x</key>
				<integer>165</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>850</integer>
				<key>x</key>
				<integer>247</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>y</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>165</integer>
			</dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>1800</integer>
                <key>x</key>
                <integer>20</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>1800</integer>
                <key>x</key>
                <integer>247</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4000</integer>
                <key>x</key>
                <integer>165</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4100</integer>
                <key>x</key>
                <integer>121</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4100</integer>
                <key>x</key>
                <integer>205</integer>
            </dict>
            
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4200</integer>
                <key>x</key>
                <integer>89</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4200</integer>
                <key>x</key>
                <integer>237</integer>
            </dict>
            
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4300</integer>
                <key>x</key>
                <integer>42</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4300</integer>
                <key>x</key>
                <integer>274</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4400</integer>
                <key>x</key>
                <integer>42</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4500</integer>
                <key>x</key>
                <integer>42</integer>
            </dict>
            <dict>
                <key>pattern</key>
                <string>Single</string>
                <key>y</key>
                <integer>4600</integer>
                <key>x</key>
                <integer>42</integer>
            </dict>
      
		</array>
	</dict>
</dict>
</plist>
